<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %>!!!!!!!!!!!!!!!!!!!!!!!!</p>
    <p>hello~hello~hello~안녕!~~반가워</p>
  </body>
</html>
